$blue: #2563EB;
$light-blue: #3B82F6;
$dark-blue: #1E40AF;
$yellow: #FACC15;
$dark-yellow: #EAB308;
$light-yellow: #FEF08A;
$black: #1F2937;
$gray: #6B7280;
$footer-gray: #d2d4d7;
$bg-gray: #F3F4F6;
$white: #FFFFFF;