@use "app/styles/colors.scss" as *;
$font-family: "Nunito Sans";
$second-family: "Open Sans";
$third-family: "Inter", sans-serif;

.second-family {
    font-family: $second-family;
}

.third-family {
    font-family: $third-family;
}

//size
.text-16 {
    font-size: 16px;
}

//weight
.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

//color
.white {
    color: $white;
}

.gray {
    color: $gray;
}

.footer-gray {
    color: $footer-gray;
}

//
.uppercase {
    text-transform: uppercase;
}