$font-family: "Nunito Sans",
sans-serif;
$second-family: "Open Sans",
sans-serif;
$third-family: "Inter",
sans-serif;

.first-family {
    font-family: $font-family;
}

.second-family {
    font-family: $second-family;
}

.third-family {
    font-family: $third-family;
}