.button {
    display: grid;
    align-items: center;
    transition: all $transition !important;
    user-select: none;

    cursor: pointer;

    &.activeScale:active {
        transform: scale(0.95);
    }
}

.ghost {
    background-color: transparent;
    color: inherit;
}

.size-0 {
    padding: 0;
}